
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<div class="jumbotron alert-danger mt-2">
    <h1 class="display-4">No se pudo completar la operación</h1>
    <hr class="my-4">
    <p>Favor de intentar más tarde.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/Ingresar" role="button">Regresar</a>
    </p>

</div>

