
@{
    ViewBag.Title = "Exito";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="jumbotron alert-success mt-2">

    <h1 class="display-4">La operación se completo correctamente</h1>
    <hr class="my-4">

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/Ingresar" role="button">Regresar</a>
    </p>

</div>
